body {
  text-align: center;
  font-family: sans-serif;
  background-color: #f7f7f7;
}

.name-input {
  margin: 0;
  
}

.email-input {
  margin: 0
}

.feedback-input {
  margin: 0
}


.submit-button {
  margin: 0
}


.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.preview-box {
  border: 1px solid #ccc;
  padding: 16px 24px;
  border-radius: 8px;
  width: 250px;
  text-align: left; 
}
