body {
  text-align: center;
  font-family: sans-serif;
  background-color: #f7f7f7;
  
}

.form {
  display: inline-block;
  flex-direction: column;   
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;           
  width: "fit-content";
  padding: 12px
}


.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.preview-box {
  border: 2px solid #ccc;
  padding: 16px 24px;
  border-radius: 20px;
  width: 250px;
  text-align: left;
  height: auto;   
}
